<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Люди по сфере</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<h1 th:text="'Люди в сфере: ' + ${selectedArea.name}"></h1>

<a href="/humans">
  <button>Назад к списку</button>
</a>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Капитал</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="human : ${humansByArea}">
    <td th:text="${human.id}"></td>
    <td th:text="${human.name}"></td>
    <td th:text="${human.capital}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>